/* dowloaded from font squirrel, watched youtube tutorial on how to dowload fonts */

/* Used code from activity 16 to get placement of nav buttons */
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(54, 52, 63);
    align-content: flex-end;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    position: absolute;
    margin-top: auto;
    font-size: 3rem;
    background-color: rgb(54, 52, 63);
    color: rgb(93, 248, 93);
    height: 200px;
}

nav {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: flex-end;


}

h1 {
    /* font-family is from google fonts */
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: auto;
    padding-right: 60%;

}

h2 {

    text-align: left;
    flex-wrap: wrap;
    display: flex;
}


ul {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    margin-top: 40px;
    position: sticky;


}

li {
    display: inline-flex;
    /*display nav bar sideways on the right*/
    justify-content: center;
    font-size: 1rem;

}

#subcontainer {
    display: block;
    margin: 5px;
    padding: 15px;
    background:  rgb(54, 52, 63);
    width: 25%;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text-right {
    text-align: right;
    position: fixed;
    position: relative;
}

#contact {
    text-align: right;
    color: white;
}

#github,
#linkedin,
#contact, #about {
    background-color:  rgb(54, 52, 63);
    color: black;
    display: flex;
    height: 30px;
    justify-content: center;
    border-radius: 20px;
    border-color:  rgb(54, 52, 63);
    border-style: solid;
    text-decoration: none;
    /*removes underlined from links*/
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

#github {
    color: rgb(105, 255, 105);
    width: 70px;
}

#about {
    color: rgb(105, 255, 105);
    width: 70px;
}

#linkedin {
    color: rgb(105, 255, 105);
    
    width: 90px;
}

#contact {
    color: rgb(105, 255, 105);
    width: 85PX;
}

/* this is to change color in name to make "css" pink */
.header h1 .css {
    color: #ff58ca;

}
.css {
    color: #ff58ca;
}