/*evan helped alot with this*/
a {
    margin: 0;
}
/* root colors to keep everything uniform if needed to change */
:root {
    --light: #9AEBA3;
    --light-blue: #13678A;
    --dark: #012030;
    --white: #fff;
    --light-green:#45C4B0;
    --font:'Nunito', sans-serif;
}
/* this hides the horizontal scroll bar */
html body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--dark);
}


.header {
    display: flex;
    justify-content: center; 
}

/* this changes colors of the letters  CSS in my name */
.css {
    color:  var(--light-blue);
}

header h1 {
    margin-left: 40px;
    font-size: 100px;
    color: var(--light);
    font-family: var(--font);
}

h2{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: var(--font);
}

.skills{
    color: var(--dark);
    text-align: center;
    width: 100%;
}

.nav-li {
    margin: 200px 0px 200px 0px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px; 
    font-family: var(--font);
}

li{
   list-style: none;
   font-family: var(--font);
   font-size: 25px;
}

/* all links in nav bar */
#github {
    color: var(--light);
    width: 100px;
    height: 40px;
}

#about {
    color:  var(--light);
    width: 100px;
    height: 40px;
}

#linkedin {
    color: var(--light);
    width: 120px;
    height: 40px;
}

#contact {
    color: var(--light);
    width: 110px;
    height: 40px;
}

#github,
#linkedin,
#contact, #about {
    background-color:  var(--light-blue);
    color: var(--light);
    display: flex;
    height: 30px;
    justify-content: center;
    border-radius: 20px;
    border-color:  var(--light-blue);
    border-style: solid;
    text-decoration: none;
    /*removes underlined from links*/
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* about me section */
main {
    background-color: var(--light-blue);
    max-width: 1400px;
    margin:auto;
}

main section{
    padding: 15px;
}

main section h2 {
    display: flex;
    justify-content: center;
    color: var(--light);
    font-size: 40px; 
    width: 300px;
    margin: auto;
    font-family: var(--font);
}

.main-p {
    margin: 20px;
    color: #9AEBA3;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: var(--font);
}

/* about me image section */
.img-golf {
    display: flex;
    width: 400px;
    margin: 15px;
    padding: 10px;
    background-color: var(--dark);
    justify-content: center;
    border-style: solid;
    border-color: var(--light);
    border-radius: 30px;
}

.img-liv {display: flex;
    width: 350px;
    margin: 50px;
    padding: 10px;
    background-color: var(--dark);
    border-style: solid;
    border-color: var(--light);
    border-radius: 30px;
}

/* skills section */
.skills-section {
    background-color: var(--light-green);
    color: var(--dark);
    padding: 30px;
}

/* project section */
.project-title {
    background-color: var(--light);
    color: var(--light-blue);
    background-color: var(--light);
    padding: 20px;
    
}

.project-section {
    background-color: var(--light);
    color: var(--light-blue);
    display: flex;
    
}

/*conttainer for the projects area*/
.project-box {
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-1 {
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    height: 400px;
    margin: 20px;
    background-color: #012030;
}
.project-1 h4 {
    display: flex;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    justify-content: center;
    color: #45C4B0;
}

/* images of projects */
.img-prework-study-guide {
    display: flex;
    border-style: solid;
    border-width: 4px;
    justify-content: center;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
}

.img-flexbox-cheatsheet {
    display: flex;
    border-style: solid;
    border-width: 4px;
    justify-content: center;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
}

/* porject headers */
div h4 {
    font-size: 35px;
    font-family: var(--font);
}

/* contact section */
.footer {
    padding:20px;
    color: var(--light);
    background-color: var(--light-blue);
}
footer p {
    display: flex;
    font-family: var(--font);
    font-size: 20px;
    justify-content: center;
    padding: 10px;
    color: var(--light);
}

/*Small screen apllication*/
@media (min-width: 640px) {
/* header h1 {
    font-size: 150px; 
}
main section h2 {
    font-size: 60px;
}
.img-golf{
    width: 500px;
}
.img-liv{
    width: 450px
}
section h2 {
    font-size: 60px;
}
.project-container {
    flex-direction: column;
    width: 50%;
    
}
.project-box h4:last-child {
    width:100%
}
.project-box h4:first-child {
    width:100%
}

.img-prework-study-guide {
    width:60%;
    margin:  0 200px;
}

.img-flexbox-cheatsheet {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
} */


header h1 {
    font-size: 170px; 
}
main section:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about-anchor {
    width: 100%;
}
.main-p {
    max-width: 400px;
} 
 .img-golf{
    margin: auto;
    width: 350px;
    margin-top: 0;
}
.img-liv{
    width: 250px;
}
h4 {
    text-align: center;
    width: 45%;
    font-size: 5px;
}
.project-container {
    flex-direction: column;
    width: 50%;
    
}
.project-box h4:last-child {
    width:100%
}
.project-box h4:first-child {
    width:100%
}

.img-prework-study-guide {
    width:60%;
    margin:  auto;
}

.img-flexbox-cheatsheet {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
}

/*Medium screen application*/
@media (min-width: 768px){
    header h1 {
        font-size: 170px; 
    }
    main section h2 {
        font-size: 65px;
    }
    .img-golf{
        width: 650px;
    }
    .img-liv{
        width: 550px
    }
    section h2 {
        font-size: 65px;
    }
     
}

/*Large screen application*/
@media (min-width: 1024px){
    header h1 {
        font-size: 170px;
        width: 200px; 
        margin-right: auto;
    }
    main section:first-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #about-anchor {
        width: 100%;
    }
    .main-p {
        max-width: 400px;
    } 
     .img-golf{
        margin: auto;
        width: 350px;
        margin-top: 0;
    }
    .img-liv{
        width: 250px;
    }
    h4 {
        text-align: center;
        width: 45%;
        font-size: 5px;
    }
    /* .project-container {
        flex-direction: column;
        width: 50%;
        height: 100px;
        
    } */
    .project-box h4:last-child {
        width:100%
    }
    .project-box h4:first-child {
        width:100%
    }
    
    .img-prework-study-guide {
        width:60%;
        margin:  0 200px;
    }

    .img-flexbox-cheatsheet {
        width: 70%;
        margin: 0 auto;
        justify-content: center;
    }

    /* background image on header only seen when in ful screen on montior */
    .header {
        background: url(../assets/img-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}



